body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.card {
    margin: 10px 0;
}

#about img {
    border: 5px solid #007bff;
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
